@model IEnumerable<DataModel.Entities.Customer>
@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="card" style="width: 100%;">
    <div class="card-header">
        Müşteri Listesi

        <a href="@Url.Action("AddCustomer","Home")" class="btn btn-primary btn-sm float-end">Yeni Müşteri</a>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Ad</th>
                    <th scope="col">Soyad</th>
                    <th scope="col">Adres</th>
                    <th scope="col">Doğum Tarihi</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Cinsiyet</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.Address</td>
                        <td>@item.DateOfBirth.ToString("dd-MM-yyyy")</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Gender</td>
                        <td><a href="@Url.Action("EditCustomer","Home",new {customerId=item.CustomerId})" class="btn btn-sm btn-info">Düzenle</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
